@model WebAdminbdTool.Models.Valoresvariables

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Valoresvariables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTipoVariable" class="control-label"></label>
                <select asp-for="IdTipoVariable" class ="form-control" asp-items="ViewBag.IdTipoVariable"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdVariable" class="control-label"></label>
                <select asp-for="IdVariable" class ="form-control" asp-items="ViewBag.IdVariable"></select>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTemporalidad" class="control-label"></label>
                <select asp-for="IdTemporalidad" class ="form-control" asp-items="ViewBag.IdTemporalidad"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idunidad" class="control-label"></label>
                <select asp-for="Idunidad" class ="form-control" asp-items="ViewBag.Idunidad"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdObjetoSistema" class="control-label"></label>
                <select asp-for="IdObjetoSistema" class ="form-control" asp-items="ViewBag.IdObjetoSistema"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoObjeto" class="control-label"></label>
                <select asp-for="IdTipoObjeto" class ="form-control" asp-items="ViewBag.IdTipoObjeto"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fuente" class="control-label"></label>
                <input asp-for="Fuente" class="form-control" />
                <span asp-validation-for="Fuente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDia" class="control-label"></label>
                <input asp-for="TipoDia" class="form-control" />
                <span asp-validation-for="TipoDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
